*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

$Main-Font:'Lato', sans-serif;
$Second-Font:'Noto Sans Shavian', sans-serif;
$Text-Color:rgb(10, 10, 10);
$Primary-Color-Purple:rgb(39, 39, 188);
$Second-Color:rgb(116, 138, 251);
$Third-Color:rgb(255, 94, 169);
$Fourth-Color:rgb(237, 243, 241);

.main-section{
    height:100vh;
}

body{
    background:$Fourth-Color;
}

header{
    height:140px;
    nav{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content: space-between;
        height:140px;
        img{
            max-width:15em;
        }
        li{
            display: inline-block;
            padding:2em;
        }
        li,p{
            font-size:20px;
        }

        .container{
            #menu{
                display:none;
            }
        }

        ul{
            a{
                text-decoration: none;
                font-family: $Main-Font;
                font-weight: 600;
                color:$Text-Color;
                position: relative;
            }
    
            a::before{
                content:'';
                position:absolute;
                width:100%;
                height:100%;
                background-color:$Second-Color;
                border-radius: 3px;
                transform:scaleX(0);
                transform-origin:right;
                z-index:-1;
                transition:0.4s transform ease-out;
              }
              
              a:hover::before{
                transform:scaleX(1);
                transform-origin:left;
              }
        }
        #contact-button{
            text-decoration: none;
            font-family: $Main-Font;
            font-weight: 600;
            color:$Text-Color;
            background:rgb(255, 231, 17);
            box-shadow: 7px 7px 10px rgb(243, 200, 10) inset;
            height:60px;
            display: flex;
            align-items: center;
            justify-content: center;
            width:10em;
            border-radius:100px;
            margin-right:1.4rem;
            transition:300ms box-shadow;
        }
        #contact-button:hover{
            box-shadow: -7px -7px 10px rgb(243, 200, 10) inset;
        }
    }
    .all_menu{
        display:flex;
        align-items: center;
        gap:80px;
        animation:0.5s ShowMenu;
    }

    #close{
        display:none;
    }
}

@keyframes ShowMenu {
    from{
        transform: translateX(-20em);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity:1;
    }
}

.wrapper{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:80vh;
    .intro-txt{
        display:flex;
        flex-direction: column;
        gap:5em;
        margin-left:1.5em;
        h1{
            font-size: 35px;
            font-family: $Second-Font;
            font-weight: 400;
        }
        p{
            max-width:40em;
            color:rgb(56, 56, 56);
            font-family: $Main-Font;
            font-weight: 600;
            line-height: normal;
        }
        span{
            display: inline-block;
            background: $Primary-Color-Purple;
            color:beige;
            padding:10px;
            border-radius: 10px;
        }
    }
    img{
        animation: 5s floating infinite;
    }
    button{
        width:14em;
        padding:10px;
        font-family:$Second-Font;
        font-weight:500;
        font-size:20px;
        background:$Second-Color;
        border:3px solid $Primary-Color-Purple;
        cursor:pointer;
        border-radius: 5px;
        position: relative;
    }

    button::after{
        content:'';
        position:absolute;
        top:0;
        left:-7em;
        opacity: 0;
        transform-origin:left;
        height:100%;
        width:80px;
        background:rgb(232, 245, 233,0.3);
        transform:skew(30deg,0);
        transition:0.9s left cubic-bezier(.55,.22,.6,.84);
    }
      
    button:hover::after{
        left:30em;
        opacity: 1;
    }
}

@keyframes floating {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}

.show{
    display:grid;
}

.hide{
    display:none;
}

@media screen and (max-width:1077px){
    header nav .container #menu{
        display:block;
        color:#000000;
        position: absolute;
        right:4rem;
        font-size:3pc;
    }

    .container{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    header nav #all_menu{
        position: fixed;
        z-index:3;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background: rgb(27, 27, 27,0.99);
        display: none;
        place-content: center;
        gap:10px;
    }

    header nav ul{
        z-index:3;
    }

    header nav li{
        display:block;
    }

    header nav ul a{
        color:$Fourth-Color;
        text-align: center;
    }

    header #close{
        display: none;
        z-index:3;
        color:#fff;
        font-size:40px;
        position: fixed;
        top:2rem;
        right:2rem;
    }
}

@media screen and (max-width:1107px){
    .wrapper{
        height:90vh;
        .intro-txt{
            h1{
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:937px){
    .wrapper{
        flex-direction: column;
        height:150vh;
        .intro-txt{
            align-items: center;
        }
    }
    .wrapper img{
       max-width:23em;
    }
}

